//Primary Colors
$primaryPink: #F13752;
$primaryTundora: #4A4A4A;
$primaryWhite: #FFFFFF;
$primaryBlack: rgba(0,0,0,0.87);
$primaryGallery: #EDEDED;

//Document Colors
$documentLipstick: #B5075C;
$documentGray: #868686;
$documentAluminium: #A6A8AB;
$documentBlack: rgba(0,0,0,0.2);
$documentAlabaster: #F7F7F7;

//Screen Colors
$screenGray: #636363;
$screenBoulder: #7B7B7B;
$screenScorpion: #5C5C5C;
$screenDoveGray: #686868;
$screenAlto: #D8D8D8;
$screenAlizarinCrimson: #E62542;
$screenMercury: #E3E3E3;
$screenGhost: #C5C8CF;


$section-partners-bg: $primaryWhite;
$over-footer-line: $primaryPink;

//inputs
$input_line-color: $screenScorpion;
$input_text-color: $primaryBlack;

//typography
$text-color--regular: $documentGray !global;
$text-color--accent: $primaryTundora !global;
$text-color--pink: $primaryPink !global;
$text-color--white: $primaryWhite !global;