.div-grey {
    background-color: $primaryGallery
}
.footer__line_color {
    background-color: $over-footer-line;
    color: $over-footer-line;
    width: 100%;
}
.container {
    max-width: 1180px;
}